<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.css' />
    <title>shopping car</title>
</head>

<style>
    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    #app {
        width: 1000px;
        height: auto;
        margin: 100px auto;
        text-align: center;
        background-color: aquamarine;
        padding: 20px;
        box-sizing: border-box;
    }
    
    h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    
    table {
        width: 100%;
        height: 100%;
        border-spacing: 0px 20px;
    }
    
    table tr {
        background-color: azure;
    }
    
    table td {
        height: 50%;
    }
    
    .fas {
        cursor: pointer;
    }
</style>



<body>

    <div id="app">


        <div class="wrapper">

            <h1>購物車</h1>


            <div v-if="loading">
                loading..... loading..... loading..... loading.....
            </div>
            <div v-else>
                <table>
                    <tr>
                        <td>商品圖</td>
                        <td>商品名稱</td>
                        <td>商品價格</td>
                        <td>數量</td>
                        <td>刪除</td>
                    </tr>
                    <tr v-for="(item,index) of buyList">
                        <td><img :src="item.img"></td>
                        <td>{{item.itemName}}</td>
                        <td>NT$ <span>{{item.price}}</span> </td>
                        <td> <i class="fas fa-plus"></i>{{item.num}}<i class="fas fa-minus"></i></td>
                        <td> <button @click="deleteHander(index)">刪除</button> </td>
                    </tr>
                </table>
            </div>
            <p>
                <input type="text" placeholder="上架商品價格" v-model='input.price'>
                <input type="text" placeholder="上架商品名稱" v-model='input.itemName'>
            </p>
            <button @click='gotoTop'>上架</button>



        </div>




    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js'></script>

    <script>
        ;
        (function(Vue) {

            let vm = new Vue({

                el: "#app",

                data: {

                    buyList: [],
                    loading: false,
                    input: {
                        img: 'https://picsum.photos/200/300?grayscale',
                        price: null,
                        itemName: '',
                        num: 1,
                    }

                },
                methods: {
                    gotoTop() {

                        let {
                            price,
                            itemName
                        } = this.input;

                        if (!price || !itemName) return;
                        this.loading = true;

                        axios.post("http://localhost:8888/data", this.input).then((res) => {
                            this.buyList.push(res.data);
                            this.loading = false;
                        });
                        this.input.price = null;
                        this.input.itemName = '';
                    },
                    deleteHander(index) {
                        let target = this.buyList[index];
                        if (confirm(`是否刪除? ${target.itemName}`)) {
                            this.loading = true;
                            axios.delete(`http://localhost:8888/data/` + target.id).then((res) => {

                                this.buyList.splice(index, 1);
                                this.loading = false;

                            })
                        }
                    },

                },
                mounted() {
                    this.loading = true;
                    axios.get("http://localhost:8888/data")
                        .then((res) => {
                            this.buyList = res.data;
                            this.loading = false;

                        }).catch((err) => {
                            console.log(err);
                        })
                },


            })




        })(Vue)
    </script>





</body>

</html>